<div class="container mt-5">
    <div class="row">

        <% for (let resource of resources) { %>
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3">
                    <img src="/images/resourceAvatars/<%= resource.type %>.jpg" width="70" height="70">
                    <div class="d-flex flex-column ml-2">
                        <span class="resource-title"><%= resource.title %></span>
                        <span class="resource-data"><%= resource.type %></span>
                        <span class="resource-data resource-auth">
                            by <a href="/profile/<%= resource.provider %>">
                                <%= resource.provider %>
                            </a>
                        </span>
                        <span class="resource-data">on <%= resource.date %></span>
                    </div>
                </div>
                <div class="d-flex flex-row mb-3">
                    <span class="resource-desc"><%= resource.description %></span>
                </div>
                <div class="d-flex justify-content-between install mt-3">
                    <a href="<%= resource.url %>" target="_blank" rel="noopener noreferrer">
                        <span class="text-primary">
                            View&nbsp;<i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>