<%- include('partials/head') %>

<body>
    <link rel="stylesheet" href="/css/form.css">

    <main>
        <div class="title">
            <h1>Upload Resource</h1>
        </div>

        <form action="/upload" method="POST" class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="title" minlength="5" maxlength="15" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="type">Type</label>
                <select class="form-select form-control" id="type" name="type" aria-label="resource type" required>
                    <% for (let type of type_names) { %>
                        <option value="<%= type %>">
                            <%= type %>
                        </option>
                    <% } %>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label" for="branch">Branch</label>
                <select class="form-select form-control" id="branch" name="branch" aria-label="branch" required>
                    <% for (let branch of branch_names) { %>
                        <option value="<%= branch %>">
                            <%= branch %>
                        </option>
                    <% } %>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label" for="semester">Semester</label>
                <select class="form-select form-control" id="semester" name="semester" aria-label="semester" required>
                    <% for (let i = 1; i <= 8; i++) { %>
                        <option value="<%= i %>">
                            <%= i %>
                        </option>
                    <% } %>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label" for="url">URL</label>
                <input class="form-control" type="text" id="url" name="url" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <input class="form-control" type="text" id="description" name="description" minlength="20" maxlength="100" required>
            </div>
            <button class="btn btn-success">Upload</button>
            <a href="/">
                <button class="btn btn-secondary" type="button">
                    Home
                </button>
            </a>
        </form>
    </main>
</body>

</html>